<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750255551263-armkpmprhk28iocar703jtm6t5f9bm22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750255551263-armkpmprhk28iocar703jtm6t5f9bm22</string>
	<key>API_KEY</key>
	<string>AIzaSyAEFtX4UG9VvgPbgoyDbrrgbfqViV6Fcns</string>
	<key>GCM_SENDER_ID</key>
	<string>750255551263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.xplorevjtiofficialapp</string>
	<key>PROJECT_ID</key>
	<string>xplorevjtiofficialapp</string>
	<key>STORAGE_BUCKET</key>
	<string>xplorevjtiofficialapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750255551263:ios:30db82d52fed9117f2f62a</string>
</dict>
</plist>